
#wrapper{
	background-color:rgb(0, 94, 81);
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:350px;
	height:400px;
	box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.56);


}
#flashcard{
	background-color:rgb(0, 94, 81);
	color:white;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	width:300px;
	height:350px;
	word-spacing: 5px;
	padding:10px;
	border: 5px solid white;
	top:10px;
	

	
}
h1{
	text-align:center;
	color:#005e51
}

#kanji{
	color:white;
	font-size:60px;
	height:100px;
}
#word{
font-size: 20px;
}

#meaning{
font-size: 30px;
}

#btn1{
	height: 40px;
	color: white;
	position: absolute;
	
	margin-left:80px;
	bottom:10px;
	font-size: 20px;
	background-color:#005e51;
}

#btn2{
	height: 40px;
	color: white;
	position: absolute;
	margin-left:170px;
	
	bottom:10px;
	font-size: 20px;
	background-color:#005e51;
}